.action {
    position: absolute;
    right: 2rem;
    background: none;
    border: none;
    padding: 0;
    color: #555555;
}

.action:active, .action:focus {
    outline: none !important;
}

.buttons {
    padding-top: 1rem;
}

.buttons button {
    margin-top: 0.5rem;
    width: 100%;
}

.username {
    padding-left: 1rem;
    color: white;
}

.userInfo {
    color: white;
    cursor: pointer;
}

.red_button {
    background-color: #FF5858 !important;
    border-color: #FF5858 !important;
}

.red_button:hover {
    background-color: #c03d3d !important;
    border-color: #c03d3d !important;
}