.title {
    /* background-color: #eaeaea; */
    /* margin: -1rem; */
    /* padding: 0.5rem 2rem; */
}

.title h2 {
    color: white;
}

.title h3 {
    margin-bottom: 0.3rem;
}

.title p {
    margin-top: 0.3rem;
    color: #555555;
}

.like {
    position: absolute;
    color: white;
    right: 3rem;
    top: 1.2rem;
}

.content {
    padding-top: 1rem;
    color: #eaeaea;
}
/* 
.info {
    color: gray;
} */