.card {
    border-radius: 10px;
    padding: 1rem;
}

.card_light {
    background-color: #2C2C2C;
}

.card_dark {
    background-color: #232323;
}

.card_accent {
    background-color: #4E57AA;
}

@media screen and (max-width: 830px) {
    .card {
        border-radius: 0px;
    }    
}
