.title {
    color: white;
}

.text {
    color: #BFBFBF;
    /* color: #555555; */
}

p.text {
    margin-bottom: 0;
}

.link {
    text-decoration: underline;
    /* color: #BFBFBF; */
    color: #FF5858;
}
.link:hover {
    color: rgb(224, 65, 65);
}