.article {
    border: 1px solid #3f3f3f;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    transition: 0.2s;
    /* background-color: #232323; */
    cursor: pointer;
}

a.fix:hover {
    text-decoration: none !important;
}

.article:hover {
    background-color: #3f3f3f;
}

.title {
    font-weight: bold;
}

.title a {
    color: #BFBFBF;
    text-decoration: none;
}

.info, .info a {
    color: #555555;
}

.editLink a {
    font-weight: normal;
    color: gray;
    text-decoration: underline;
}

.editLink {
    padding-left: 1rem;
}